.App-login {
  margin: auto;
  justify-self: center;
  text-align: left;
  padding: 16px 32px;
  background: #eee;
  border: 1px solid #999;
  border-radius: 8px;
  box-shadow: 0 2px 4px #666;
}
.App-login .inputfield {
  display: block;
  margin: 16px;
  min-width: 200px;
}
.App-login .btn {
  display: block;
  width: 100%;
}
